@model IEnumerable<liuyida.Models.Order>

@{
    ViewBag.Title = "Orders";
}



<div class="row" id="top-bar">
    <div class="col-lg-3">
       <h2 class="inline-title">Orders</h2> @Html.ActionLink(" ", "Create", new { r = Request.Url.ToString() }, new { @class = "btn glyphicon glyphicon-plus" })
    </div>
</div>

<div class="row all-orders">
@foreach (liuyida.Models.Order item in Model) {
    @Helpers.OrderHelper(item,false,this,true,12)
}
</div>
