body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    height:100%;
    overflow:hidden;
    font-size:16px;
}
.body-content {
    height:100%;
}
.btn-back {
    float:left;
    margin-top:8px;
    background-color:#333;
    border-color:#333;
    color:#fff;
    font-size:14px;
}
    .btn-back:hover {
        background-color:#555;
        border-color:#555;
        color:#fff;
    }
@media all and (max-width:767px) {
    .btn-back {
        margin-left: 15px;
    }
}
.navbar-brand {
    margin-left:0px !important;
}
.navbar > a, h1, h2 {
    font-family: 'Anton', sans-serif;
}

h2 {
    font-size: 18px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 400px;
}

.todo-category {
    background-color:#ddd;
    padding:10px;
    margin-top:10px;
    font-size:16px;
    font-weight:bold;
}

.bucket {
    /*min-height:100px;*/
    background-color: #eee;
    padding:5px;
}
    .bucket > div {
        padding:5px;
    }
.order-inner-div{
    background-color:#fff;
    padding:10px;
    font-size:16px;
}
table {
    width: 100%;
}
tr{
    padding:5px 10px 5px;
    border-bottom:1px solid #ccc;
    font-size:15px;
}
td, th {
    padding:5px 10px 5px 0px;
}
th {
    font-weight:bold;
}
.pricelist {
    display:none;
}

.wizard, .tabcontrol {
    width: inherit !important;
}

    .wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active , .wizard > .content{
        margin: 1px !important; 
        border-radius:0px !important;
    }

    .wizard > .content {
        background-color: #fff !important;
    }
        .wizard > .content > .body {
            position:relative !important;
            height:100% !important;
            margin-bottom:100px !important;
        }
.actions {
    position:fixed !important;
    bottom:0px;
    background-color:#fff;
    padding:10px;
    text-align:center !important;
}
.actions > ul > li > a {
    font-size:18px;
}
.spacer {
    width:100%;
    height:100px;
}