
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3>Morning 10AM</h3>
<div class="row bucket" id="morning">
    <div>
        Order1
    </div>
    <div>
        Order2
    </div>
    <div>
        Order3
    </div>
</div>
<h3>Afternoon 2PM</h3>
<div class="row bucket" id="afternoon">

</div>
<h3>Evening 8PM</h3>
<div class="row bucket" id="evening">

</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/todo")