
@{
    ViewBag.Title = "To-dos";
}

<h2>To-dos</h2>
<div class="row todo-category">
    Morning 10AM
</div>
<div class="row bucket collapse in" id="morning">
    <div class="col-lg-4">
        <div class="order-inner-div">
            Order1
        </div>
    </div>
    <div class="col-lg-4">
        <div class="order-inner-div">
            Order2
        </div>
    </div>
    <div class="col-lg-4">
        <div class="order-inner-div">
            Order3
        </div>
    </div>
</div>
<div class="row todo-category">
    Afternoon 2PM
</div>
<div class="row bucket" id="afternoon">

</div>
<div class="row todo-category" control-bucket="evening">
    Evening 8PM
</div>
<div class="row bucket" id="evening">

</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/todo")